conda==4.12.0
conda-build==3.21.4
ffmpeg-python==0.2.0
flatten-json==0.1.13
jupyter==1.0.0
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kloppy==3.3.1
matplotlib==3.3.4
matplotsoccer==0.0.8
mplsoccer==1.0.5
numpy==1.22.4
numpydoc=1.1.0
ipython==7.31.0
pandas==1.4.3
pandera==0.9.0
pickleshare==0.7.5
SciencePlots=1.0.9
scikit-image==0.18.1
scikit-learn==1.0.2
scipy==1.6.2
seaborn==0.11.1
socceraction==1.2.3
statsbombpy==1.4.3
statsmodels==0.12.2
tables==3.6.1
tensorboard==2.9.1
tensorflow==2.9.2
torch==1.11.0
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
tornado==6.1
tqdm==4.59.0
xgboost==1.5.1
